
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Task Manager App in Django">
    <title>Task Manager</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'home/cover.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Task Manager</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </nav>
    </div>
  </header>

  {% block content %}
      {% endblock %}

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>A Task Manager - Django App for  <a href="https://github.com/aaronvarghese/fsf_2019_screening_task1">fsf_2019_screening_task1</a>, by <a href="http://aaronvarghese.com">Aaron Varghese</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>
